{% extends "base.twig" %}
{% block style %}{% endblock %}

{% block header %}
   {% include "../headers/header_form.twig" %}
{% endblock %}

{% block main %}
<p>page reinitialiser son password : A FAIRE</p>
{% endblock %}